<htm>
    <head>
        <title>Josh's Mad Libs Page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <!-- <script src="/Users/joshlee/Desktop/Web Projects/WebProjects-MadLibs/scripts/inputs.js"></script> -->
        <!-- <script src="/Users/joshlee/Desktop/Web Projects/WebProjects-MadLibs/scripts/app.module.ts"></script> -->
        <link rel="Stylesheet" href="/Users/joshlee/Desktop/Web Projects/WebProjects-MadLibs/css/styles.css">
        
    </head>

    <body class ="bg-body">
        <h1 class="header-title">Welcome to MadLibs!</h1>
        <h3 class="header-subtitle">Fill out the text boxes to finish the story!</h3>
    
        <div class="input" ng-app="inputs" ng-controller="inputCtrl">
            <p class="input-p">Adjective: <input type ng-model="adjective1"></p> 
            <p class="input-p">Adjective: <input type ng-model="adjective2"></p>
            <p class="input-p">Noun: <input type ng-model="noun1"></p>
            <p class="input-p">Noun: <input type ng-model="noun2"></p> 
            <p class="input-p">Plural Noun: <input type ng-model="pluralNoun1"></p> 
            <p class="input-p">Game: <input type ng-model="game"></p>
            <p class="input-p">Plural Noun: <input type ng-model="pluralNoun2"></p>
            <p class="input-p">Verb Ending in "ing": <input type ng-model="verbEndingInIng1"></p> 
            <p class="input-p">Verb Ending in "ing": <input type ng-model="verbEndingInIng2"></p>
            <p class="input-p">Plural Noun: <input type ng-model="pluralNoun3"></p>
            <p class="input-p">Verb Ending in "ing": <input type ng-model="verbEndingInIng3"></p> 
            <p class="input-p">Noun: <input type ng-model="noun3"></p>
            <p class="input-p">Plant: <input type ng-model="plant"></p>
            <p class="input-p">Part of the body: <input type ng-model="partOfTheBody"></p>
            <p class="input-p">Place: <input type ng-model="place"></p>
            <p class="input-p">Verb Ending in "ing": <input type ng-model="verbEndingInIng4"></p>
            <p class="input-p">Adjective: <input type ng-model="adjective3"></p>
            <p class="input-p">Number: <input type ng-model="number"></p> 
            <p class="input-p">Plural Noun: <input type ng-model="pluralNoun4"></p>  
        </div>
        <div class="output-result">
            <output></output>
        </div>
    </body>
</htm>